<!-- Modal -->
<div class="modal fade" id="passwordEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body py-5 px-md-5">
                    <form action="/changePassword" method="post" id="editPasswordForm">
                        <div class="form-outline mb-4">
                            <input type="password" id="oldPassword" class="form-control" name="oldPassword" required />
                            <label class="form-label" for="oldPassword">Old Password</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="newPassword" class="form-control" name="newPassword" required />
                            <label class="form-label" for="newPassword"> New Password</label>
                        </div>
                        <p style="color: coral;" id="passwordMatch"></p>

                        <div class="form-outline mb-4">
                            <input type="password" id="confirmEditPassword" class="form-control"
                                name="confirmEditPassword" required />
                            <label class="form-label" for="confirmEditPassword"> Confirm Password</label>
                        </div>
                        <!-- Submit button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block mb-4" id="passwordEditButton">
                                change Password
                            </button>
                            <p style="color: coral;" id="PasswordAlert"></p>
                            <!-- <button type="button" class="btn btn-secondary" style=" background: none;
                            border: none;   padding: 0;font-family: arial, sans-serif;color: #069; text-decoration: underline;
                            cursor: pointer;" data-dismiss="modal" id="forgotPassword"> forgotPassword </button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- modal end  -->

<script>
    console.log("inside change password");
    const editPasswordForm = document.getElementById("editPasswordForm");
    console.log("inside change password", editPasswordForm);
    const newPassword = document.getElementById("newPassword")
    const oldPassword = document.getElementById("oldPassword")
    const confirmEditPassword = document.getElementById("confirmEditPassword");




    let newPass;
    let oldPass;
    editPasswordForm.addEventListener('submit', (e) => {
        e.preventDefault();
        console.log("submited")
        document.getElementById("passwordMatch").innerText = "";
        document.getElementById("PasswordAlert").innerText = "";
        if (newPassword.value === confirmEditPassword.value) {
            newPass = newPassword.value;
            oldPass = oldPassword.value;
            fetch('/password/eidt', {
                method: 'post',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ newPass, oldPass })
            }).then(res => res.json()).then(data => {
                console.log(data)
                if (data == true) {
                    swal("successs", "password edit success", "success");
                    $('#passwordEditModal').modal('hide')
                    location.reload();

                }
                else {
                    document.getElementById("PasswordAlert").innerText = "inccorct old password"

                }





            })//fetch end

        } else {
            document.getElementById("passwordMatch").innerText = "new password and confirm password does not match"

        }



    })//event end


</script>