<!-- Modal -->
<div class="modal fade" id="messageModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body py-5 px-md-5">
                        <div class="form-outline mb-4">
                            <input type="email" id="loginEmail" class="form-control" name="email" />
                            <label class="form-label" for="loginEmail">Message</label>
                        </div>
                        

                        <div class="text-center">
                          



                        </div>
                        <!-- Submit button -->
                        <div class="text-center">
                          

                                <div>
                                    <span >
                                      You can test the website using demo user
                                    </span>
                                    <br/>

                                    <span >
                                        Demo Email: dheerajcj@demo.com
                                    </span>
                                    <br/>
                                    <span >
                                        Demo password: plmqaz
                                    </span>
                                    
                                </div>

                        </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- modal end  -->